[build]
builder = "nixpacks"

[deploy]
startCommand = "python app/main.py"

[[services]]
name = "web"
port = 8000

[[services]]
name = "redis"
type = "redis"

[[services]]
name = "postgres"
type = "postgresql"

[environments.production.variables]
PYTHON_VERSION = "3.11"
DATABASE_URL = "$${{postgres.DATABASE_URL}}"
REDIS_URL = "$${{redis.REDIS_URL}}"
